<div>
  <mat-toolbar color="primary">
    <span>Material in Angular 2!</span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Comming soon 1</button>
    <button mat-menu-item>Comming Soon 2</button>
  </mat-menu>


  <div fxLayoutAlign="center"  *ngFor="let blog of Blogs">
    <div fxFlex="50%"  (click)="openDialog(blog)">
      <mat-card class="example-card">
        <mat-card-header>
         <div mat-card-avatar class="example-header-image">ID #{{blog.id}}</div>
          <mat-card-title>{{ blog.title}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/{{blog.img}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{ blog.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View More Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
